body {
  padding: 0;
  margin: 0;
}

img {
  width: 250px;
}

.container {
  max-width: 810px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
}

.item-list {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
}

.item-image {
  width: 250px;
  height: auto;
  padding: 10px;
}

.item-image-detailed {
  width: 500px;
  height: auto;
  padding: 10px;
}

/*media query to center single column*/
