<!doctype html>
<html>
  <head>
    <title>Simple Catalog</title>
    <!-- <title><%= context.title %></title> -->
    <link href="gallery.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
      <header style="text-align:center;">
        <h1>Simple Catalog</h1>
      </header>
      <main>
      <!-- <h1><%= context.title %></h1> -->
      <!-- <form method="GET" action="">
        <input type="text" name="title">
        <input type="submit" value="Change Gallery Title">
      </form> -->

      <div class="item-list">
        <%= context.imageTags %>
      </div>

      <!-- <form action="" method="POST" enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Upload Image">
      </form> -->
      </main>
    </div>
    
    <script src="gallery.js"></script>
  </body>
</html>
